{% extends 'layout.html.twig' %}

{% block stylesheets %}
    <!-- <link type="text/css" rel="stylesheet" href="{{asset("bundles/ticket/css/security.css")}}"/>
    <link type="text/css" rel="stylesheet" href="{{asset("bundles/ticket/css/hover.css")}}"/> -->
{% endblock %}

{% block body %}

<div class="ctn">
    <div class="bg-home">
        <div class="content-button">
        {% if is_granted('IS_AUTHENTICATED_FULLY') %}
            <div class="bg-button hvr-grow-shadow">
                <a href="{{path("logout")}}"><i class="material-icons ajust-icon">keyboard_tab</i></a>
            </div>
        {% else %}
            <div class="bg-button hvr-grow-shadow">
                <a href="{{path("login")}}">Login</i></a>
            </div>
            <div class="bg-button hvr-grow-shadow">
                <a href="{{path("register")}}">Register</i></a>
            </div>
        {% endif %}
        </div>
    </div>
</div>
{% endblock %}

{% block javascript %}
{% endblock %}
