{% extends 'layout.html.twig' %}

{% block stylesheets %}
    <!-- <link type="text/css" rel="stylesheet" href="{{asset("bundles/ticket/css/security.css")}}"/>
    <link type="text/css" rel="stylesheet" href="{{asset("bundles/ticket/css/hover.css")}}"/> -->
{% endblock %}

{% block header %}
    <p class="col s3" >{{app.user.firstname}} {{app.user.lastname}}</p>

    <p class="col s6 center-align">Student Page</p>

    <p class="col s3 right-align">
        <a class="white-text" href="{{path("logout")}}">Logout</a>
    </p>

{% endblock %}

{% block body %}

    {% if subjects != null%}
        <div class="section">
            <h4> Subscribe to a new subject </h4>
            <div class="row">
                {{ form_start(form) }}
                {{ form_widget(form) }}
                {{ form_end(form) }}
            </div>
        </div>
    {% endif %}
    <div class="section">
        <h4> Your subjects : </h4>
        <div class="row">
            {% for subject in student_subject %}
                <p> {{subject.title}}
                    {% for user in subject.users %}
                        {% if user.roles[0] == 'ROLE_TEACHER' %}
                            par {{user.username}}
                        {% endif %}
                    {% endfor %}
                </p>
            {% endfor %}
        </div>
    </div>

    <div class="section">
        <h4> Your grades : </h4>

        {% for subject, subject_grades in grades %}
            <h5>{{subject}}</h5>
            <table>
                {% for grade in subject_grades.grades %}
                    {% if loop.first %}
                        <tr>
                            <td>
                                Note
                            </td>
                            <td>
                                Commentaire
                            </td>
                        </tr>
                    {% endif %}
                    <tr>
                        <td>
                            {{grade.grade}}
                        </td>
                        <td>
                            {{grade.commentary}}
                        </td>
                    </tr>
                {% endfor %}
                <tr>
                    <td>
                        Moyenne: {{subject_grades.average|number_format(2)}}
                    </td>
                </tr>
            </table>

        {% endfor %}
    </div>


{% endblock %}

{% block javascript %}
<script src="{{asset("js/select.js")}}"></script>
{% endblock %}
