{% extends 'layout.html.twig' %}

{% block stylesheets %}
   <link type="text/css" rel="stylesheet" href="{{asset("css/modal.css")}}"/>
{% endblock %}

{% block body %}

<div class="ctn">
    <div class="bg-home">
        <div class="content-button">
            <div class="bg-button hvr-grow-shadow">
                <a href="{{path("login")}}">Login</i></a>
            </div>
            <div class="bg-button hvr-grow-shadow">
                <a href="{{path("register")}}">Register</i></a>
            </div>
        </div>
        Hey {{app.user.firstname}} {{app.user.lastname}}
        <h1 class="welcome">This'll be the teacher default Page !</h1>

        <h1 class="welcome">Here you'll see the list of the subjects you teach</h1>
            {% for subject in teacher_subjects %}
                {{subject.title}}
            {% endfor %}

        <h1 class="welcome">Here you'll see the list of the students in each of your subjects</h1>
            {% for subject in teacher_subjects %}
                <h2>{{subject.title}}</h2>
                {% for student in subject.users %}
                    {% if student.roles[0] == 'ROLE_USER' %}
                        {{student.username}}<br/>
                        <!-- Trigger/Open The Modal -->
                        <button class="myBtn">Open Modal</button>

                        <!-- The Modal -->
                        <div id="myModal" class="modal">

                        <!-- Modal content -->
                        <div class="modal-content">
                            <span class="close">&times;</span>
                            <form class="col s12" action="{{ path('create_grade', {'slug': student.id}) }}" method="POST" id="message-form" name="message-form">
                                <h1 class="title-content-container">Add a note for {{student.firstname}} {{student.lastname}}</h1>
                                <p class="error" id="error"></p>
                                <div class="row">
                                    <div class="input-field col s12">
                                        <select name='subject_grade' id="subject_grade">
                                        <option value="" disabled selected>Choose a subject</option>
                                            <option value="{{subject.id}}">{{subject.title}}</option>
                                        </select>
                                        <label>Subject Select</label>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="input-field col s12">
                                    <input type="text" autocomplete="new-grade" id="grade" class="materialize-textarea validate" name="grade"/>
                                    <label for="grade">grade</label>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="input-field col s12">
                                    <textarea autocomplete="new-commentary" id="commentary_create" class="materialize-textarea validate" name="commentary_create"></textarea>
                                    <label for="commentary_create">Commentary</label>
                                    </div>
                                </div>
                                <div class="row center-align">
                                    <button class="btn waves-effect waves-light red accent-1" type="submit" name="action">
                                        <i class="material-icons right">send</i>
                                    </button>
                                </div>
                            </form>
                        </div>
                        </div>
                {% for grade in student.grades %}
                    {% if grade.subjects.title == subject %}
                        {{grade.grade}} and {{grade.commentary}}<br />
                    {% endif %}
                {% endfor %}
                    {% endif %}
                {% endfor %}
            {% endfor %}
    </div>
</div>
{% endblock %}

{% block javascript %}
<script src="{{asset("js/modal.js")}}"></script>
{% endblock %}
